{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="吴珂鑫">	
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}">
    {% block CSS %}
        <style type="text/css">
            h1,h2,h3 { text-align:center }
        </style>
    {% endblock CSS %}
    {% block hJS %}     {% endblock hJS %}
  </head>
  <body>
    <div id="container">
        <div id="header">
            <!-- 导航条 -->
            {% block nav %}{% endblock nav %}
            
        </div>
        <div id="content">     
            <!-- 主体 -->
            {% block content %} {% endblock content %}
        </div>
        <div id="footer">
            <!-- 页脚 -->
            {% block foot %}{% endblock foot %}
        </div>
    </div>
    <script src="{% static 'jQuery/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'DataTables/DataTables-1.10.21/js/jquery.dataTables.min.js' %}"></script> -->
    <!-- <script src="{% static "echarts/echarts.min.js" %}"></script> -->
	{% block JS %} {% endblock JS%}    
  </body>
</html>